absl-py==0.5.0
anyrl==0.12.22
appnope==0.1.0
arcade==1.3.6
astor==0.7.1
atari-py==0.1.4
atomicwrites==1.2.1
attrs==18.2.0
autobahn==18.9.2
Automat==0.7.0
backcall==0.1.0
bleach==3.0.2
box2d-py==2.3.5
certifi==2018.8.24
cffi==1.11.5
chardet==3.0.4
cloudpickle==0.5.2
colorlog==4.0.2
constantly==15.1.0
cycler==0.10.0
Cython==0.29
dask==0.20.1
decorator==4.3.0
defusedxml==0.5.0
Django==2.2.2
docker-py==1.10.3
docker-pycreds==0.2.1
EasyProcess==0.2.5
entrypoints==0.2.3
fastzbarlight==0.0.14
future==0.16.0
gast==0.2.0
gin-config==0.1.1.2
glfw==1.7.0
go-vncdriver==0.4.19
googlemaps==3.0.2
gridworld==0.1
grpcio==1.15.0
gym==0.10.9
h5py==2.8.0
hyperlink==18.0.0
idna==2.7
imageio==2.4.1
incremental==17.5.0
ipykernel==5.1.0
ipython==7.0.1
ipython-genutils==0.2.0
ipywidgets==7.4.2
jedi==0.13.1
Jinja2==2.10
joblib==0.13.0
jsonschema==2.6.0
jupyter==1.0.0
jupyter-client==5.2.3
jupyter-console==6.0.0
jupyter-core==4.4.0
Keras==2.2.3
Keras-Applications==1.0.6
Keras-Preprocessing==1.0.5
keras-rl==0.4.2
kiwisolver==1.0.1
lockfile==0.12.2
Markdown==3.0.1
MarkupSafe==1.0
matplotlib==3.0.0
mistune==0.8.4
mock==3.0.5
more-itertools==4.3.0
mpi4py==3.0.0
mujoco-py==1.50.1.68
nbconvert==5.4.0
nbformat==4.4.0
networkx==2.2
nn-builder==0.0.4
notebook==5.7.0
numpy==1.16.3
opencv-python==3.4.3.18
pandas==0.23.4
pandocfilters==1.4.2
parso==0.3.1
pep8==1.7.1
pexpect==4.6.0
pickleshare==0.7.5
Pillow==5.3.0
pipenv==2018.11.26
pluggy==0.8.0
prometheus-client==0.4.2
prompt-toolkit==2.0.6
protobuf==3.6.1
psutil==5.4.8
ptyprocess==0.6.0
py==1.7.0
pycparser==2.19
pyglet==1.3.2
Pygments==2.2.0
PyHamcrest==1.9.0
PyOpenGL==3.1.0
pyparsing==2.2.2
PyQt5==5.11.3
PyQt5-sip==4.19.13
pytest==3.10.1
python-dateutil==2.7.3
pytorch-policy==0.1.1
pytz==2018.5
PyVirtualDisplay==0.2.1
PyWavelets==1.0.1
PyYAML==3.13
pyzmq==17.1.2
qtconsole==4.4.2
requests==2.21.0
scikit-image==0.14.1
scipy==1.1.0
seaborn==0.8.1
Send2Trash==1.5.0
simplegeneric==0.8.1
six==1.11.0
sqlparse==0.3.0
tensorboard==1.13.1
tensorflow==1.13.1
tensorflow-estimator==1.13.0
tensorflow-gpu==1.1.0
tensorflow-probability==0.6.0
termcolor==1.1.0
terminado==0.8.1
testpath==0.4.2
toolz==0.9.0
torch==1.1.0
torchvision==0.2.1
tornado==5.1.1
tqdm==4.26.0
traitlets==4.3.2
Twisted==18.9.0
txaio==18.8.1
ujson==1.35
umap==0.1.1
universe==0.21.3
urllib3==1.23
virtualenv==16.0.0
virtualenv-clone==0.5.3
wcwidth==0.1.7
webencodings==0.5.1
websocket-client==0.53.0
Werkzeug==0.14.1
widgetsnbextension==3.4.2
zope.interface==4.5.0
